$buttonsmargin: 3px;
$buttonspadding: 10px;
$buttoncolor1: blue;
$buttoncolor2: rgb(183, 100, 183);
$buttoncolor3: pink;
$buttoncolor4: orange;
$buttoncolor5: orangered;

body{
    background-color: beige;
    text-align: center;
}

#navmenu{
    position: absolute;
}

ul{
    list-style-type: none;
}

#colors{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}


#button0, .buttonClass0{
    margin: $buttonsmargin; 
    padding: $buttonspadding; 
    background-color: $buttoncolor1;
}

#button1, .buttonClass1{
    margin: $buttonsmargin; 
    padding: $buttonspadding; 
    background-color: $buttoncolor2;
}

#button2, .buttonClass2{
    margin: $buttonsmargin; 
    padding: $buttonspadding; 
    background-color: $buttoncolor3;
}

#button3, .buttonClass3{
    margin: $buttonsmargin; 
    padding: $buttonspadding; 
    background-color: $buttoncolor4;
}

#button4, .buttonClass4{
    margin: $buttonsmargin;
     padding: $buttonspadding; 
     background-color: $buttoncolor5;
    }
